.App {
    display: block;
    width: 100%;
    min-height: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.App-logo {
  width: 250px;
  border-style: none;
  float: right;
}

.App-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subTitle {
    color: #9D9D9D;
    text-align: left;
}

.App-link {
  color: #61dafb;
}

body {
    font-family: sans-serif;
    font-size: small;
	color: black;
    min-height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

label {
    font-family: sans-serif;
    font-size: small;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: left;
    color: #737373;
}

input[type=file] {
    margin-top: 2px;
    margin-bottom: 2px;
    min-width: 500px;
}

input[type=text] {
    margin-top: 2px;
    margin-bottom: 2px;
    min-width: 250px;
}

input[type=checkbox] {
    margin-top: 2px;
    margin-bottom: 2px;
}

button {
    margin: 5px;
}

h1 {
    margin-top: 3px;
    margin-bottom: 2px;
    font-family: Verdana;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

h2 {
    font-family: Verdana;
    font-weight: lighter;
    font-size: large;
    text-align: center;
}

h3 {
    font-family: Verdana;
    font-weight: normal;
    font-size: medium;
    text-align: center;
}

p {
    font-family: Verdana;
    margin-top: 0em;
    margin-bottom: 1em;
    font-size: small;
	color: black;
}

img {
    border-style: none;
    float: right;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: #0F0263;
    color: white;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.contentContainer {
    display: flex;
    flex-grow: 1;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer {
    padding-bottom: 40px;
}

footer p {
    margin: 0;
    color: #9D9D9D;
    font-weight: 100;
}

/* .container {
    display: block;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    width: 50%;
    height: 100%;
    min-height: 500px;
} */

.field {
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    margin-right: 20px;
}

.inputsContainer {
    display: flex;
}

.fileInput {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar {
    width: 200px;
    background-color: lightgrey;
    visibility: hidden;
}

.progressBar {
    width: 1%;
    height: 20px;
    background-color: green;
    text-align: right;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: smaller;
    font-weight: bold;
    color: white;
}

.error-message {
  color: red;
  width: 100%
}

.inputBox {
    width: 200px;
    height: 225px;
    border-radius: 20px;
    box-shadow: 0px 2px 200px rgba(0, 0, 0, 0.09);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border: 2px solid #FFFFFF;
}

.inputBox.dragActive {
    border: 2px solid #009FE3;
    background-color: rgba(0, 159, 227, 0.1);
}

.inputBox.inputBoxError {
    border: 2px solid #FC1E1E;
    background-color: #FFFFFF;
}

.inputLabel {
    text-align: center;
    color: #0E518A;
    display: flex;
    height: 30px;
    vertical-align: baseline;
    align-items: center;
}

.upArrow {
    width: 20px;
    height: 20px;
    position: absolute;
}

.inputText {
    font-weight: 100;
    color: #737373;
    text-align: center;
}

.inputContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.inputTextError {
    color: #FC1E1E;
}

.fileName {
    text-align: center;
    margin: 0;
    height: 16px;
    color: #737373;
}

.chooseFileButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    padding: 0 30px;
    background: #009FE3;
    border-radius: 14px;
    color: #FFF;
    cursor: pointer;
}

.textField-focused fieldset {
    border-color: #009FE3 !important;
}

.textField-label-focused {
    color: #009FE3 !important;
}

.checkboxContainer {
    display: flex;
    align-items: center;
}

.checkbox {
    color: #009FE3 !important;
    padding: 0 !important;
    margin-right: 10px !important;
}

.checkbox:hover {
    background-color: transparent !important;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
